In [76]:
import pandas as pd
import numpy as np

In [77]:
def range_function(dataframe , col_name , lbound , ubound):
    dataframe = dataframe[dataframe[col_name].between(lbound, ubound, inclusive=True)]
    return dataframe

In [78]:
def find_sum(dataframe , col_name):
    val = dataframe[col_name].sum()
    return val

In [79]:
def find_max(dataframe , col_name):
    max_val = dataframe[col_name].max()
    return max_val

In [80]:
def find_min(dataframe , col_name):
    min_val = dataframe[col_name].min()
    return min_val

In [81]:
def find_variance(dataframe , col_name):
    var = dataframe.loc[:,col_name].var()
    return var

In [82]:
def std_deviation(dataframe , col_name):
    std = dataframe.loc[:,col_name].std()
    return std

In [83]:
def find_mean(dataframe , col_name):
    avg = dataframe.loc[:,col_name].mean()
    return avg

In [84]:
def find_median(dataframe , col_name):
    med = dataframe.loc[:,col_name].median()
    return med

In [85]:
#returns a dictionary with frequency of each value.
def find_frequency(dataframe , col_name):
    counts = dataframe[col_name].value_counts().to_dict()
    return counts

In [86]:
def find_mode(dataframe , col_name):
    val = dataframe.loc[:,col_name].mode()
    return val

In [87]:
df = pd.read_csv("200_20.csv")
s = find_sum(df , "Age")
print("Sum" , s)
m = find_max(df , "Age")
print("Max" , m)
mi = find_min(df , "Age")
print("Min" , mi)
var = find_variance(df , "Age")
print("Variance" , var)
std = std_deviation(df , "Age")
print("Std Dev" , std)
me = find_mean(df , "Age")
print("Mean" , me)
mo = find_mode(df , "Age")
print("Mode" , mo)
med = find_median(df , "Age")
print("Median" , med)
dic = find_frequency(df , "Age")
print("Frequencies" , dic)
df = range_function(df , "Age" , 16 , 21)
df

Sum 907.0
Max 38.0
Min 15.0
Variance 24.473913043478266
Std Dev 4.947111585913366
Mean 19.717391304347824
Mode 0    16.0
dtype: float64
Median 18.5
Frequencies {16.0: 8, 19.0: 7, 18.0: 6, 17.0: 5, 21.0: 4, 15.0: 4, 23.0: 3, 22.0: 2, 20.0: 2, 38.0: 1, 36.0: 1, 25.0: 1, 26.0: 1, 31.0: 1}

,num,Name,Age,Disappeared,Found
0,1,Wendy Lee Coffield,16.0,"July 8, 1982","July 15, 1982"
1,2,Gisele Ann Lovvorn,17.0,"July 17, 1982","September 25, 1982"
4,5,Cynthia Jean Hinds,17.0,"August 11, 1982","August 15, 1982"
5,6,Opal Charmaine Mills,16.0,"August 12, 1982","August 15, 1982"
6,7,Terry Rene Milligan,16.0,"August 29, 1982","April 1, 1984"
7,8,Mary Bridget Meehan,18.0,"September 15, 1982","November 13, 1983"
9,10,Linda Jane Rule,16.0,"September 26, 1982","January 31, 1983"
11,12,Shawnda Leea Summers,16.0,"October 9, 1982","August 11, 1983"
12,13,Shirley Marie Sherrill,18.0,NaN,June 1985
13,14,"Rebecca \Becky\"" Marrero""",20.0,"December 3, 1982","December 21, 2010"
15,16,Sandra Denise Major,20.0,"December 24, 1982","December 30, 1985"
16,17,Alma Ann Smith,18.0,"March 3, 1983","April 2, 1984"
17,18,Delores LaVerne Williams,17.0,NaN,"March 31, 1984"
19,20,Andrea M. Childers,19.0,"April 14, 1983","October 11, 1989"
20,21,Sandra Kay Gabbert,17.0,"April 17, 1983","April 1, 1984"
21,22,Kimi-Kai Pitsor,16.0,"April 17, 1983","December 15, 1983"
22,23,Marie M. Malvar,18.0,"April 30, 1983","September 26, 2003"
23,24,Carol Ann Christensen,21.0,"May 3, 1983","May 8, 1983"
24,25,Martina Theresa Authorlee,18.0,"May 22, 1983","November 14, 1984"
25,26,Cheryl Lee Wims,18.0,"May 23, 1983","March 22, 1984"
26,27,"Yvonne \Shelly\"" Antosh""",19.0,"May 31, 1983","October 15, 1983"
28,29,Constance Elizabeth Naon,19.0,"June 8, 1983","October 27, 1983"
30,31,Tina Marie Thompson,21.0,"July 25, 1983","April 20, 1984"
31,32,April Dawn Buttram,16.0,"August 18, 1983","August 30, 2003"
33,34,Tracy Ann Winston,19.0,"September 12, 1983","March 27, 1986"
34,35,Maureen Sue Feeney,19.0,"September 28, 1983","May 2, 1986"
38,39,Kimberly L. Nelson,21.0,"November 1, 1983","June 14, 1986"
39,40,Lisa Yates,19.0,"December 23, 1983","March 13, 1984"
40,41,Mary Exzetta West,16.0,"February 6, 1984","September 8, 1985"
41,42,Cindy Anne Smith,17.0,"March 21, 1984","June 27, 1987"
42,43,Patricia Michelle Barczak,19.0,"October 17, 1986",February 1993
43,44,Roberta Joseph Hayes,21.0,"February 7, 1987","September 11, 1991"

In [ ]:
x=pd.read_csv("")